*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #fff;
	color: #333;
	margin: 0;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
	text-align: center;
	color: #333;
	margin-top: 20px;
}
